# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# npm
alias npmi="sudo npm install"

# Git
alias g="git"
alias gs="git status"
alias gl="git log --oneline"